<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
    <link rel="stylesheet" href="./assets/css/allBlogsPage.css">
</head>

<body>
    <!-- nav bar -->
    <nav>
        <h1><a href="./index.html">Ai Blog GENERATOR</a></h1>
        <ul>
            <li><a href="./index.html">Welcome Admin</a></li>
            <li><a href="./blogs.html">Saved Blog Posts</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>

    <!-- main content container -->
    <div class="grand-container">
        <div>
            <!-- Blog posts section -->
            <section>
                <h2>All Blog Posts</h2>
                <div>
                    <div class="blog-containers">
                        <h3>Blog Post Title 1</h3>
                        <p>This is the content of the blog post. Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Corporis, deleniti!</p>
                    </div>
                    <div class="blog-containers">
                        <h3>Blog Post Title 2</h3>
                        <p>This is the content of the blog post. Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Corporis, deleniti!</p>
                    </div>
                    <!-- Repeat -->
                </div>
            </section>

        </div>
    </div>
    <!-- copyright -->
    <footer>Designed by Oğuzhan, Thanks to Code with Tomi</footer>

</body>

</html>