<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Details</title>
    <link rel="stylesheet" href="./assets/css/blog-details.css">
</head>

<body>
    <nav>
        <h1><a href="./index.html">Ai Blog GENERATOR</a></h1>
        <ul>
            <li><a href="./login.html">Welcome Admin</a></li>
            <li><a href="./all-blogs.html">Saved Blog Posts</a></li>
            <li><a href="./login.html">Login</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div>
        <div>
            <section>
                <h2>Blog Post Details</h2>
                <div>
                    <h3>Blog Post Title</h3>
                    <p>This is the content</p>
                    <hr />
                    <h4>Youtube Title</h4>
                    <p>Title of the associated youtube video</p>
                    <h4>Youtube Link</h4>
                    <a href="https://www.youtube.com">Youtube Link</a>
                    <p>Title of the associated youtube video</p>
                </div>
            </section>
        </div>
    </div>
</body>

</html>