<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Blogs</title>
    <link rel="stylesheet" href="./assets/css/blogsPage.css">

</head>

<body>
    <!-- nav bar -->
    <nav>
        <h1><a href="./index.html">Ai Blog GENERATOR</a></h1>
        <ul>
            <li><a href="./index.html">Welcome Admin</a></li>
            <li><a href="./blogs.html">Saved Blog Posts</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>

    <!-- Blog generator -->
    <div class="container">
        <h3>All Blog Posts</h3>

        <div>
            <p><b>If You Use Django, You Need To Use This VS Code Extension</b> <br>Are you a Django developer looking
                for
                an easier way to incorporate external st...
            </p>
        </div>

    </div>

    <!-- copyright -->
    <footer>Designed by Oğuzhan, Thanks to Code with Tomi</footer>


</body>

</html>