<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./assets/css/loginPage.css">
</head>

<body>
    <!-- nav bar -->
    <nav>
        <h1><a href="./index.html">Ai Blog GENERATOR</a></h1>
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="./signup.html">Sign Up</a></li>
        </ul>
    </nav>

    <!-- main content -->
    <div class="container">
        <form action="#">
            <h2>Login</h2>
            <div>
                <label for="loginUserName">
                    <h3>Username</h3>
                </label>
                <input type="text" placeholder="Enter your username..." id="loginUserName" name="loginUserName">
            </div>

            <div>
                <label for="loginPassword">
                    <h3>Password</h3>
                </label>
                <input type="password" placeholder="Enter your password..." id="loginPassword" name="loginPassword">
            </div>

            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>