<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./assets/css/signupPage.css">
</head>

<body>
    <!-- nav bar -->
    <nav>
        <h1><a href="./index.html">Ai Blog GENERATOR</a></h1>
        <ul>
            <li><a href="./login.html">Login</a></li>
            <li><a href="#">Sign Up</a></li>
        </ul>
    </nav>

    <!-- main content -->
    <div class="container">
        <form action="#">
            <h3>Signup</h3>
            <div>
                <label for="signupUserName">
                    <h4>Username</h4>
                </label>
                <input type="text" placeholder="Enter your username..." id="signupUserName" name="signupUserName">
            </div>

            <div>
                <label for="userEmail">
                    <h4>Email</h4>
                </label>
                <input type="email" placeholder="Enter your password..." id="userEmail" name="userEmail">
            </div>

            <div>
                <label for="signupPassword">
                    <h4>Password</h4>
                </label>
                <input type="password" placeholder="Enter your password..." id="signupPassword" name="signupPassword">
            </div>

            <div>
                <label for="repeatPassword">
                    <h4>Repeat password</h4>
                </label>
                <input type="password" placeholder="Repeat your password..." id="repeatPassword" name="repeatPassword">
            </div>

            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>

</html>